<h4>Solicitar Cita </h4>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/citas">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
    </div>
</div>
<div class="card-columns">
    <div class="card text-center" *ngFor="let doctor of doctores">
        <img [src]="doctor.foto" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ doctor.nombre }} {{ doctor.apellido1}} {{ doctor.apellido2}} </h5>
            <p class="card-text"> {{ doctor.especialidad }} </p>
            <button class="btn btn-primary" (click)='agendarCita(doctor)' type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> Agendar Cita</button>
            <hr>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" *ngIf='seleccionado' id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <img [src]="doctorSeleccionado.foto" class="card-img-top" alt="Card image cap" style="width: 120px; height: 120px;">
                <div class="card-body">
                    <h5 class="card-title">{{doctorSeleccionado.nombre}} </h5>
                    <p class="card-text"> {{doctorSeleccionado.especialidad}} </p>
                </div>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)='registrarCita()'>
                    <div class="form-group">
                        <label class="col-2 colform-label">Fecha y Hora</label>
                        <div class="form-row col">
                            <div class="col">

                                <input class="form-control" formControlName='fecha' min="{{this.fechaManana | date :'yyyy-MM-dd'}}" max="{{fechaValidaFin | date :'yyyy-MM-dd'}}" [class.is-invalid]='fechaNoValido' type="date">
                            </div>
                            <div class="col">
                                <input class="form-control" formControlName='hora' [class.is-invalid]='horaNoValido' type="time" min="08:00" max="19:40" step="1200">
                                <small *ngIf="horaNoValido" class="text text-danger"> debe seleccionar una hora entre las 08:00 y las 19:40, en intervalos de 20 minutos, por ejemplo 08:40, 11:00, 14:20</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comentarios:</label>
                        <textarea class="form-control" formControlName='comentarios' [class.is-invalid]='comentariosNoValido' id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cancelar()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button (click)="registrarCita()" class="btn btn-primary" [disabled]="forma.invalid" data-dismiss="modal">Registrar Cita</button>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- Alerts -->

<div *ngIf="!cargando && doctores.length===0" class="alert alert-warning text-center mt-3 animate__animated animate__fadeIn animate__faster">
    <h4 class="alert-heading"> No hay registros</h4>
    <p>
        <i class="fas fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animate__animated animate__fadeIn animate__faster">
    <h4 class="alert-heading"> Cargando</h4>
    <p>
        <i class="fas fa-spinner fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere porfavor
    </p>
</div>